header.navbar
  section.navbar-section
    a.btn-link(href="/books/new") ajouter
    a.btn-link(href="#") connexion
  section.navbar-center
    img(src="", alt="logo")
  section.navbar-section
    a.btn-link(href="#") Github
    a.btn-link(href="#") s'enregister