extends layout
block content
  h4 Ajouter un livre
  .form-group
  form(action="/books/new", method="post")
    input.form-input(type="text", name="titre", placeholder="inserer le titre")
    input.form-input(type="text", name="auteur", placeholder="inserer l'auteur")
    input.form-input(type="number", name="date_publication", placeholder="la date de publication")
    input.form-input(type="number", name="pages", placeholder="le nombre de pages")
    button.btn.btn-primary.input-group-btn(type="submit") envoyer