extends layout
block content
  h1 MES LIVRES
  each book in books
    .card
      .card-image
        img.img-responsive(src='https://images.unsplash.com/photo-1541963463532-d68292c34b19?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2734&q=80')
    .card-header
      .card-title.h5= book.titre
      .card-subtitle.text-gray ...
    .card-body
    = book.auteur
    br
    = book.date_publication
    .card-footer
      button.btn.btn-primary edit


    
